.container {
  display: flex;
  justify-content: center;
}

.searchinput {
  width: 300px;
  height: 30px;
  margin: 30px;
  border-radius: 4px;
  border: 1px solid #4e4f4f;
  background-color: black;
  box-shadow: 0 2px 20px rgba(248, 245, 245, 0.897);
}

.title {
  padding: 50px 80px 50px 80px;
  color: aliceblue;
}
